.inputGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  text-transform: capitalize;
}

.input {
  padding: 10px;
  border: 1px solid transparent;
  background-color: rgb(0, 255, 179);
  border-radius: 10px;
  resize: none;
}
